page-sign-in {
        .signin-area{
            margin-top: 35%;
        }
        .signup{
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        .forgot-password{
            margin-left: 40%;
        }
}
