<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="signin-area">
    <ion-grid>
      <ion-row>
        <ion-col  width-100>
          <ion-list>
            <form [formGroup]='loginForm'>

              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)" 
                type="text" formControlName="email" ></ion-input>
              </ion-item>
              <ion-item *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
                  <p>Please provide a valid email.</p>
              </ion-item>

              <ion-item>
                <ion-label floating icon-right icon="pen"> Password</ion-label>
                <ion-input type="password" formControlName="password" 
                [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
              </ion-item>
              
              <ion-item *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
                <p>Password is required to sign in.</p>
              </ion-item>

              <br>

              <span *ngIf="!signing">
                <button ion-button rounded icon-right color="primary" block (click)="signin()">
                    Sign-In <ion-icon name="arrow-dropright"></ion-icon>
                </button>
              </span>

              <span *ngIf="signing">
                <button ion-button rounded color="warning" block>
                    Signing in<ion-spinner name="dots"></ion-spinner> 
                </button>
              </span>

              
                
                <ion-item class="no-border">
                    <button  (click)="home()" ion-button round color="primary" small>Home</button>
                    <button  (click)="checkout()" ion-button round color="primary" small>Checkout</button>
                    
                  </ion-item>

            </form>

          </ion-list>
           
        </ion-col>
      </ion-row>
      <ion-row class="signup animated pulse infinite">
           <button ion-button color="energy" (click)="signUp()">Sign-up</button>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
