<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>

  

    <ion-buttons end>
        <button ion-button (click)="scanCode()">
          <ion-icon ios="ios-qr-scanner" md="md-qr-scanner"></ion-icon>
        </button>
        <ion-card *ngIf="scannedCode">
          <ion-card-content>
            Result from Scan: scannedCode
          <button ion-button small round outline (click)="accessGallery()" class="photoButton">Import from Gallery</button>
            <img [src]="base64Image" *ngIf="base64Image" />
          
          </ion-card-content>
         
        </ion-card>
      </ion-buttons>

      <ion-buttons end>
          <button ion-button icon-left (click)="openCart()">
            <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          </button>
        </ion-buttons>

        <ion-buttons end>
          <button ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
      

      </ion-content>
      