<ion-header>

  <ion-navbar>
    <ion-title>Sign-Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="signin-page">
    
    <p *ngIf="submitAttempt" style="color: #ffffff;">Please fill out all details accurately.</p>

  <form [formGroup]='signupForm'>
    <ion-list>
         <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input [class.invalid]="!signupForm.controls.name.valid && (signupForm.controls.name.dirty || submitAttempt)" 
            type="textarea" formControlName="name" ></ion-input>
          </ion-item>
          <ion-item *ngIf="!signupForm.controls.name.valid && signupForm.controls.name.touched">
              <p class="invalid">Please enter a valid name</p>
          </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitAttempt)" 
            type="textarea"
                formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched">
            <p class="invalid">Please enter a valid email</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)" 
            type="password"
                formControlName="password"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched">
            <p class="invalid">Please enter a valid password</p>
        </ion-item>
        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitAttempt)"
                type="password" formControlName="password"></ion-input>
        </ion-item>
        <!-- <ion-item *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched && confirmKeys()">
            <p class="invalid">Passwords must be the same!</p>
        </ion-item> -->
        <ion-item *ngIf="confirmKeys">
            <p class="invalid">Passwords must be the same!</p>
        </ion-item>
         
        
        </ion-list>
        <button type="submit" ion-button icon-left full (click)="registerUser()" >
          <ion-icon name="ios-book"></ion-icon>
            Register
        </button>
      </form>
</ion-content>
