.catagory_img{
	width: 40% !important;
}

.btn{
	position: absolute;
	bottom: 0px;
	width:100%;
}
.address-btn{
	width: 100%;
	background-color: #55ACEE;
	padding: 10px;
	color: white;
	font-size: 18px;
	border: none;
}
.total{
	color: rgb(86, 86, 86);
	text-align: center;
	font-weight: bold;
}
.promocode{
	border-top: 1px solid rgb(152, 152, 152);
	color: rgb(117, 117, 117);
}
.label-total{
  text-align: left;
}